{% extends 'core/base.html' %}

{% load i18n staticfiles %}

{% block main %}
    <div id="hello" class="letters-div">
        <div class="container">
            <div class="alert alert-danger alert-dismissable hidden">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Oops...</strong> You have a some mistake. Try again!
            </div>
            <div class="alert alert-success alert-dismissable hidden">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Awesome!</strong> Looks like you're a genius!
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h1 class="centered">{% trans 'What do you see in the picture?' %}</h1>
                    <img src="{{ object.image.url }}" class="img-rounded">
                </div><!-- /col-lg-8 -->
                <div class="col-lg-8">
                    <div class="letters-grid-div">
                        <ul id="letters-grid">
                          {% for letter in object.shuffle_word %}
                            <li class="swappable-list">{{ letter }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <a class="btn btn-info next-word-btn" >{% trans 'Next word' %}</a>
                    </div>
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /hello -->
{% endblock %}


{% block extra_js %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>


    <script>
    $(function () {
            var grid = $("#letters-grid");
            grid.sortable({
                    start: function (event, ui) {
                            ui.item.toggleClass("highlight");
                    },
                    stop: function (event, ui) {
                            ui.item.toggleClass("highlight");
                    }
            });
            grid.disableSelection();
    });

    $('.next-word-btn').click(function(){
        var word = '';
        $.each($('.swappable-list'), function(i, v){
            word = word + $(v).text();
        });
        $('.alert').addClass('hidden');
        $.get("{% url 'check_word_view' %}", {word: word, pk: "{{ object.pk }}"},  function(data){
            if (data.is_valid){
                $('.alert-success').removeClass('hidden');
                window.location.href = "{% url 'letters_page' %}?word_pk_prev={{ object.pk }}";
            }else{
                $('.alert-danger').removeClass('hidden');
            }
        })
    });

    </script>
{% endblock %}