{% extends 'core/base.html' %}

{% load i18n %}

{% block main %}
    <div id="hello" class="login-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered">
                    <h1>{% trans 'Welcome Back!' %}</h1>
                    <form class="form-inline login-form" role="form">
                      <div>
                        <input type="email" class="form-control" placeholder="Email address">
                      </div>
                      <div>
                        <input type='password' class="form-control" placeholder="Password">
                      </div>
                      <div>
                        <button type="submit" class="btn btn-info">{%  trans 'LOG IN' %}</button>
                      </div>
                    </form>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /hello -->
{% endblock %}