<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles i18n %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans 'LettersGame' %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lettersgame.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/chart.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'landing_page' %}"><i class="fa fa-cloud"></i><span>{% trans 'LettersGame' %}</span></a>
        </div>
        {% block navbar %}
        {% endblock %}
      </div>
    </div>

    {% block main %}
    {% endblock %}

    {% block footer %}
        <div id="f">
            <div class="container">
                <div class="row">
                    <p>{% trans 'Crafted with' %} <i class="fa fa-heart"></i> {%  trans 'by' %} LongDayGroup</p>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
